h1 {
  color:red;
  font-size:30px;
  background-color: #ff0000;
  height:80px;
  width:200px;
  font-family:serif;
}
p {
  color:green;
  font-size:10px;
  height:50px;
  width:100px;
}
img {
  height:150px;
  width:200px;
}
li {
 float: right;
 padding:20px
}
header-logo {
 float: left;
 front-size: 10px;
}
.selected {
  color:red;
}
