h1 {
  color: red;
  font-size: 30px;
  background-color: #ddd;
  height:80px;
  width:200px;
}
p {
  color: #ff0000;
  font-size: 20px;
  background-color: #f3f372;
  height:50px;
  width:100px;
}
img {
  height:100px;
  width:200px;
}
li {
 float: right;
 padding:20px
}
header-logo {
 float: left;
 front-size: 10px;
}
.selected {
  color:red;
}
